@media (max-width: 768px) {
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; Full viewport height */
    padding-top: 0; /* Remove top padding if any */
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  .h1 {
    margin-top: 0;
  }
}

/* Large screen adjustments */
@media (min-width: 1024px) {
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px; /* Add padding as needed for larger screens */
  }

  .container {
    display: flex;
    flex-direction: row; /* Change to row for larger screens */
    justify-content: space-around;
    align-items: flex-start;
    text-align: left; /* Align text to the left */
    height: auto; /* Adjust height */
  }

  .h1 {
    margin-top: 20px; /* Add margin as needed */
  }
}

/* Extra large screen adjustments (TVs, very large monitors) */
@media (min-width: 1440px) {
  .section {
    padding-top: 30px; /* Add more padding as needed for extra large screens */
  }

  .container {
    justify-content: space-between; /* Increase space between elements */
  }

  .h1 {
    margin-top: 30px; /* Add more margin as needed */
    font-size: 2em; /* Increase font size for better visibility */
  }
}
