/* Video Background Styles */
.video-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Hide video controls */
.bg-video::-webkit-media-controls,
.bg-video::-webkit-media-controls-enclosure,
.bg-video::-webkit-media-controls-panel {
  display: none !important;
}

/* Main Content Styles */
.main {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #014c3d; /* Text color */
}

.middle, h1 {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 5rem;
  margin: 0; /* Remove default margin */
}

h1 {
  color: #0a5647;
}

.roller {
  font-family: 'Playfair Display', serif;
  font-size: smaller;
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

/* Animation Keyframes */
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 600px) {
  h1, .middle {
    font-size: 2.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  #spare-time {
    letter-spacing: .0001rem;
    font-size: 1rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
    72.5% {
      top: -6.375rem;
    }
  }

  /* Reduce gaps between sections */
  .main + div {
    margin-top: 1rem;
  }

  .video-bg + .video-bg,
  .video-bg + div,
  div + .video-bg {
    margin-top: 0;
  }
}

/* Dive Into Sufna Button */
.dive-into-sufna-button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px; /* Adjust this value as needed */
}

.dive-into-sufna-button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  .dive-into-sufna-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .main + div {
    margin-top: 5rem;
  }

  .video-bg + .video-bg,
  .video-bg + div,
  div + .video-bg {
    margin-top: 0;
  }
}

/* Custom Scrollbar Styles */
body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: white transparent; /* For Firefox */
}

/* For Webkit Browsers */
body::-webkit-scrollbar {
  width: 0.1px; /* Thin scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: white; /* White scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

body::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}
