.image-gallery {
  position: relative;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Parallax Background */
.parallax-content {
  margin-bottom: 20px;
  position: relative;
  padding: 50px;
  text-align: center;
  color: #333;
  font-family: primary;
  background: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s, color 0.3s;
}

.parallax-content h1 {
  margin-top: 80px;
  margin-bottom: 50px;
}

/* Floating Effect */
.image-item {
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 1s, box-shadow 1s;
}

.image-item img {
  transition: transform 0.5s ease-in-out;
}

.image-item:hover img {
  transform: scale(1.05);
}

/* Masonry Grid */
.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Responsive Design */
@media (max-width: 1100px) {
  .my-masonry-grid {
    margin-left: -20px;
  }

  .my-masonry-grid_column {
    padding-left: 20px;
  }
}

@media (max-width: 700px) {
  .my-masonry-grid {
    margin-left: -10px;
  }

  .my-masonry-grid_column {
    padding-left: 10px;
  }

  .parallax-content {
    padding: 20px;
  }

  .parallax-content h1 {
    font-size: 2rem;
  }
}
