/* Portfolio Image Styles */
.portfolio-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.image-container:hover .portfolio-image {
  transform: scale(1.1);
}

/* General Section and Container Styles */
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
  .section {
    height: 100vh; /* Full viewport height */
    padding-top: 0; /* Remove top padding */
  }

  .container {
    margin-top: 180px;
    height: 100%; /* Full height */
  }

  .h1 {
    margin-top: 0;
    font-size: 2em; /* Adjust font size for mobile */
  }
  .portfolio-button-container{
    margin-left: 50px;
  }
}

/* Large Screen Adjustments */
@media (min-width: 1024px) {
  .section {
    height: auto; /* Adjust height */
    padding-top: 20px; /* Add padding as needed */
  }

  .container {
    margin-top: 100px; /* Adjust margin as needed */
    flex-direction: row; /* Change to row for larger screens */
    justify-content: space-between;
    align-items: flex-start;
    text-align: left; /* Align text to the left */
    height: auto; /* Adjust height */
  }

  .h1 {
    margin-top: 20px; /* Add margin as needed */
    font-size: 4em; /* Adjust font size for larger screens */
  }
  .portfolio-button-container{
    margin-left: 80px;
  }
}

/* Extra Large Screen Adjustments (TVs, Very Large Monitors) */
@media (min-width: 1440px) {
  .section {
    padding-top: 40px; /* Add more padding */
  }

  .container {
    margin-top: 80px; /* Adjust margin as needed */
    justify-content: space-around; /* Increase spacing */
  }

  .h1 {
    margin-top: 40px; /* Add more margin */
    font-size: 5em; /* Increase font size for better visibility */
  }
  .portfolio-button-container{
    margin-left: 80px;
  }
}

/* Ultra-Large Screens (1920px and above) */
@media (min-width: 1920px) {
  .section {
    padding-top: 60px; /* More padding for very large screens */
  }

  .container {
    margin-top: 60px; /* Adjust margin as needed */
    flex-direction: row; /* Ensure row layout for very large screens */
    justify-content: space-evenly; /* Even spacing */
  }

  .h1 {
    margin-top: 60px; /* More margin for better spacing */
    font-size: 6em; /* Larger font size for ultra-large screens */
  }

  .portfolio-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  .portfolio-button-container{
    margin-left: 80px;
    size: 200px;
  }
}

/* Ensure consistent styling for headings */
.h1, h1 {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  color: #0a5647;
  margin: 0; /* Remove default margin */
}
