/* Box Sizing for All Elements */
.ssIcons * {
    box-sizing: border-box;
}

/* Social Icons Container */
.ssIcons {
    perspective: 400px;
    margin: auto;
    width: 220px;
    display: flex;
    justify-content: space-around;
}

/* Social Icon Styles */
.ssIcon {
    position: relative;
    padding: 0;
    font-size: 30px;
    box-shadow: inset 0px 0px 1.3px 2.5px rgba(200, 200, 200, 0.3), inset 0px 0px 2.3px 5.5px rgba(200, 200, 200, 0.3);
    height: 50px;
    width: 50px; /* Ensure square icons */
    border-radius: 13px;
    display: flex; /* Flexbox for centering icon */
    align-items: center; /* Center icon vertically */
    justify-content: center; /* Center icon horizontally */
    transition: transform 0.3s ease; /* Smooth transformation */
}

/* Specific Icon Colors and Sizes */
.ssIcon i {
    color: white;
}

/* Individual Icon Adjustments */
.ssIcon.fb {
    background-color: darkblue;
}

.ssIcon.tw {
    background-color: lightblue;
    text-shadow: 1px 1px black;
}

.ssIcon.cp, .ssIcon.gh {
    background-color: black;
}

/* Flip Animation on Hover */
.ssIcon:hover {
    animation: flipin 1s forwards;
}

/* Flip Animation Keyframes */
@keyframes flipin {
    0% {
        transform: perspective(500px) rotate3d(1, 0, 0, 180deg);
    }
    100% {
        transform: perspective(500px) rotate3d(1, 0, 0, 0deg);
    }
}
