/* VideoGallery.css */

@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

.video-gallery {
  position: relative;
  overflow: hidden;
  /* font-family: 'Zain', ExtraBold; */
  transition: background-color 0.3s, color 0.3s;
}

/* Parallax Background */
.parallax-content {
  position: relative;
  padding: 50px;
  text-align: center;
  color: #0a5647;
  font-family: primary;
  background: rgb(255, 255, 255);
  transition: background-color 0.3s, color 0.3s;
}

/* Title Styling */
.parallax-content h1 {
  
  margin-top: 50px;
  font-size: 3rem;
  font-weight: light;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* Brand Section */
.brand-section {
  margin-bottom: 40px;
}

.brand-section h2 {
  font-family: 'Zain', ExtraBold;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Masonry Grid */
.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Video Item Styling */
.video-item {
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}

/* Responsive Design */
@media (max-width: 1100px) {
  .my-masonry-grid {
    margin-left: -20px;
  }

  .my-masonry-grid_column {
    padding-left: 20px;
  }
}

@media (max-width: 700px) {
  .my-masonry-grid {
    margin-left: -10px;
  }

  .my-masonry-grid_column {
    padding-left: 10px;
  }

  .parallax-content {
    padding: 20px;
  }

  .parallax-content h1 {
    font-size: 2rem;
  }

  .brand-section h2 {
    font-size: 1.5rem;
  }
}
