@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

.video-gallery {
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.parallax-content {
  position: relative;
  padding: 50px;
  text-align: center;
  color: #0a5647;
  font-family: 'Zain', sans-serif;
  background: rgb(255, 255, 255);
  transition: background-color 0.3s, color 0.3s;
}

.parallax-content h1 {
  font-family: 'Zain', sans-serif;
  margin-top: 50px;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.brand-section {
  margin-bottom: 40px;
}

.brand-section h2 {
  font-family: 'Zain', sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.video-item {
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Mobile Devices */
@media (max-width: 480px) {
  .my-masonry-grid {
    margin-left: -5px;
  }

  .my-masonry-grid_column {
    padding-left: 5px;
  }

  .parallax-content {
    padding: 10px;
  }

  .parallax-content h1 {
    font-size: 1.5rem;
  }

  .brand-section h2 {
    font-size: 1rem;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .my-masonry-grid {
    margin-left: -15px;
  }

  .my-masonry-grid_column {
    padding-left: 15px;
  }

  .parallax-content {
    padding: 20px;
  }

  .parallax-content h1 {
    font-size: 2rem;
  }

  .brand-section h2 {
    font-size: 1.5rem;
  }
}

/* Small Laptops/Desktops */
@media (max-width: 1024px) {
  .my-masonry-grid {
    margin-left: -20px;
  }

  .my-masonry-grid_column {
    padding-left: 20px;
  }

  .brand-section h2 {
    font-size: 1.8rem;
  }
}

/* Large Desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
  .brand-section h2 {
    font-size: 2rem;
  }

  .parallax-content h1 {
    font-size: 3.5rem;
  }
}

/* Beyond 1200px */
@media (min-width: 1201px) {
  .brand-section h2 {
    font-size: 1.9rem;
  }

  .parallax-content h1 {
    font-size: 3rem;
  }
}

/* 4K Screens */
@media (min-width: 2561px) {
  .brand-section h2 {
    font-size: 4rem;
  }

  .parallax-content h1 {
    font-size: 7rem;
  }
}

/* 5K Screens */
@media (min-width: 3841px) {
  .brand-section h2 {
    font-size: 4rem;
  }

  .parallax-content h1 {
    font-size: 7rem;
  }
}

/* 8K Screens */
@media (min-width: 5121px) {
  .brand-section h2 {
    font-size: 4rem;
  }

  .parallax-content h1 {
    font-size: 7rem;
  }
}
